@page
@model CompetitonMerit_ASP_Core.Pages.Meritlists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Of Merit Students</h1>

<div>
    <h4>Merit List</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Participate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meritlist.Student_participate.Student_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meritlist.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meritlist.School.School_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meritlist.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meritlist.Subject.Subject_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meritlist.Marks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meritlist.Marks)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meritlist.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
